*{
  padding: 0;
  margin: 0;
}
.header{
  background-image: url(images/bg-header-desktop.png);
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 20px;
}
.logo{
  width: 100px;
  padding: 40px;
}
.first-section{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  font-family: Bai Jamjuree;
  padding: 40px;
  align-items: center;
}
.head{
  font-weight: bold;
  font-size: 35px;
  color: hsl(201, 11%, 66%);
}
.about{
  width: 550px;
  color: hsl(201, 11%, 66%);
  font-size: 16px;
}
.btn{
  display: flex;
  margin-top: 10px;
  color: white;
}
.button_1{
  background-color: hsl(171, 66%, 44%);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: none;
  margin-left: 10px;
  color: white;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  transition: opacity 0.15s;
}
.button_1:hover,.button_2:hover{
  opacity: 0.7;
}
.button_2{
  background-color: hsl(233, 100%, 69%);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: none;
  margin-left: 10px;
  color: white;
  font-size: 16px;
  padding-left: 20px;
  cursor: pointer;
  padding-right: 20px;
  transition: opacity 0.15s;
}
.second-section{
  display: flex;
  font-family: Bai Jamjuree;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 40px;
}
.describe{
  width: 640px;
  font-size: 16px;
  color:  hsl(201, 11%, 66%);
}
.subtitle{
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}
.third-section{
  display: flex;
  font-family: Bai Jamjuree;
  padding:60px;
}
.computer-image{
  margin-left: -20%;
  margin-right: 40px;
  width:  100%;
  height: 550px;
  object-fit: contain;
}
.title{
  font-weight: bold;
  font-size: 25px;
}
.right-side{
  align-items: center;
  justify-content: center;
}
.descriptions{
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  font-size: 16px;
  line-height: 30px;
  
}
.main-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: px;
padding-top: 50px;
}
.search{
  width: 350px;
  text-align: justify;
  color: hsl(201, 11%, 66%);
}
.fourth-section{
  display: flex;
  font-family: Bai Jamjuree;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 40px;
  margin-bottom: 130px;
  margin-top: 80px;
}
.third-title{
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 35px;
}
.uses{
  width: 650px;
  color: hsl(201, 11%, 66%);
}
.tablet-image{
  display: flex;
  align-items: center;
  justify-content: center;
}
.fifth-section{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-family: Bai Jamjuree;
}
.fifth-title{
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 20px;
}
.tools{
  color: hsl(201, 11%, 66%);
  font-size: 18px;
}
.sixth-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  font-family: Bai Jamjuree;
  margin-top: 100px;
  margin-bottom: 100px;
}
.box{
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blacklist{
  font-weight: bold;
  font-size: 22px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.description{
  color: hsl(201, 11%, 66%);
  width: 300px;
}
.icon-blacklists{
  margin-bottom: -10px;
}
.outer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  font-family: Bai Jamjuree;
}
.seventh-section{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  font-family: Bai Jamjuree;
  margin-bottom: 100px;
}
.links{
  margin-right: 60px;
}
.eight-section{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family:  Bai Jamjuree;
  align-items: center;
  margin-bottom: 100px;
}
.a-title{
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}
.Availability{
  width: 700px;
  line-height: 26px;
  color:  hsl(201, 11%, 66%);
  margin-bottom: 20px;
}
.IOS{
  background-color: hsl(171, 66%, 44%);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: none;
  margin-left: 10px;
  color: white;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  transition: opacity 0.15s;
  cursor: pointer;
}
.IOS:hover,.Mac:hover{
  opacity: 0.7;
}
.Mac{
  background-color: hsl(233, 100%, 69%);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: none;
  margin-left: 10px;
  color: white;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  transition: opacity 0.15s;
  cursor: pointer;
}
.footer{
  display: flex;
  align-items: center;
  padding: 30px;
  font-family: Bai Jamjuree;
  background-color: hsl(200, 13%, 91%);
}
.logo-2{
  height: 60px;
  margin-right: 60px;
}
.geid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 15px;
  margin-right: 35%;
}
.icons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}
.grid-item{
  cursor: pointer;
  transition: color 0.15s;
}
.grid-item:hover{
  color: hsl(171, 66%, 44%);
}
.fa-square-facebook{
  font-size: 20px;
  cursor: pointer;
  transition: color 0.15s;
}
.fa-square-facebook:hover{
  color: hsl(171, 66%, 44%);
}
.fa-twitter{
  font-size: 20px;
  cursor: pointer;
  transition: color 0.15s;
}
.fa-twitter:hover{
  color: hsl(171, 66%, 44%);
}
.fa-instagram{
  font-size: 20px;
  cursor: pointer;
  transition: color 0.15s;
}
.fa-instagram:hover{
  color: hsl(171, 66%, 44%);
}
.attribution{
  background-color: hsl(206, 15%, 91%);
  padding: 20px;
  color: black;
  font-family: Bai Jamjuree;
  font-size: 16px;
}
.attribution a{
  color: black;
  text-decoration: none;
}
@media(max-width:515px){
  .header{
    background-image: url(images/bg-header-mobile.png);
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 20px;
    width: 100vw;
  }
  .head{
    font-weight: bold;
    font-size: 28px;
    color: hsl(201, 11%, 66%);
  }
  .about{
    margin-top: 20px;
    width: 300px;
    color: hsl(201, 11%, 66%);
    font-size: 16px;
  }
  .btn{
    display: flex;
    margin-top: 10px;
    color: white;
    flex-direction: column;
  }
  .button_1{
    background-color: hsl(171, 66%, 44%);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    color: white;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
  }
  .button_2{
    background-color: hsl(233, 100%, 69%);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    color: white;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .first-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-family: Bai Jamjuree;
    padding: 40px;
    align-items: center;
    margin-bottom: 60px;
  }
  .describe{
    width: 300px;
    font-size: 16px;
    color:  hsl(201, 11%, 66%);
  }
  .computer-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    object-fit: contain;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .left-section{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
  }
  .third-section{
    display: flex;
    flex-direction: column;
    font-family: Bai Jamjuree;
    padding:60px;
  }
  .descriptions{
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    
  }
  .main-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  padding-top: 2px;
  }
  .search{
    width: 300px;
    text-align: center;
    color: hsl(201, 11%, 66%);
  }
  .tablet-image{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .devices{
    width: 300px;
  }
  .third-title{
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 25px;
  }
  .uses{
    width: 300px;
    color: hsl(201, 11%, 66%);
    line-height: 26px;
  }
  .fifth-title{
    padding: 17px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .tools{
    color: hsl(201, 11%, 66%);
    font-size: 18px;
  }
  .sixth-section{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    text-align: center;
    font-family: Bai Jamjuree;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .box{
    padding: 10px;
  }
  .blacklist{
    font-weight: bold;
    font-size: 22px;
  }
  .blacklist{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .seventh-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: Bai Jamjuree;
    margin-bottom: 100px;
  }
  .links{
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 60px;
  }
  .a-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .top{
    padding: 25px;
  }
  .Availability{
    width: 300px;
    line-height: 26px;
    color:  hsl(201, 11%, 66%);
    margin-bottom: 20px;
  }
  .bottom{
    display: flex;
    flex-direction: column;
  }
  .IOS{
    background-color: hsl(171, 66%, 44%);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    color: white;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
  .Mac{
    background-color: hsl(233, 100%, 69%);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    color: white;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
  .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    font-family: Bai Jamjuree;
    background-color: hsl(200, 13%, 91%);
    text-align: center;
  }
  .logo-2{
    height: 40px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .geid{
    display: flex;
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
  }
  .description{
    color: hsl(201, 11%, 66%);
    width: 300px;
  }
  }